@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

body{font-family: 'Balsamiq Sans';}

.center-addshow{text-align: center;}

ul{display: inline-block;}

tr:nth-child(even) {
    background-color: #e6e6e6;
  }
th {
    background-color: #c4c4c4;
  }