<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>The counter is: {{request.session.counter}}</h1>
    <h2>The number of visits is : {{request.session.visits}}</h2>
    <form action="/destroy_session">
        <button>reset counter</button>
    </form>
    <form action="/addtwo">
        <button>inrement by 2</button>
    </form>
    <form action="/{{var}}">
        <!-- {% csrf_token %} -->
        <!-- <label for="">write any number:</label> -->
        <!-- <input type="text" value="reply" name="message" placeholder="write any nuumber"> -->
        <!-- <input type="text" name="reply" placeholder="write it here..."> -->

    </form>
    <form action="/increment" method="post">
        {% csrf_token %}
        <label for="">write any number:</label>
        <!-- <input type="text" value="reply" name="message" placeholder="write any nuumber"> -->
        <input type="text" name="reply" placeholder="write it here...">
        <button type="submit">Submit</button>

    </form>


</body>

</html>