<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      tr,
      td,
      th,
      table {
        border: 1px solid black;
        border-collapse: collapse;
      }
    </style>
  </head>
  <body>
    <table>
      <tr>
        <th>first_name</th>
        <th>last_name</th>
        <th>Full_name</th>
      </tr>
      {% for i in x:%}
      <tr>
        <td>{{i.first_name}}</td>
        <td>{{i.last_name}}</td>
        <td>{{i.first_name + i.last_name}}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
